<mat-card class="example-card bottom-10">
  <mat-card-header>
    <mat-card-title>
      Messages
    </mat-card-title>
  </mat-card-header>
  <mat-card-content [style.overflow]="'auto'" [style.height.px]="'400'" #scrollMe [scrollTop]="scrollMe.scrollHeight">
        <mat-card *ngFor="let m of (messages | async)" class="wordwrap">
          <mat-card-content>
            <strong>{{ m.sender }} </strong>: {{ m.text }}
          </mat-card-content>
          <mat-hint align="end">{{m.dateSent | date:"short"}}</mat-hint>
        </mat-card>
  </mat-card-content>
</mat-card>

<mat-card class="example-card bottom-10">
  <form class="example-form" #twitterForm="ngForm">
    <mat-card-header>
        <mat-card-title>
          Post
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>

        <mat-form-field class="example-full-width">
          <input matInput [(ngModel)]="username" placeholder="Enter your name" name="username" #name="ngModel" required>

        <mat-error [hidden]="name.valid || name.pristine" class="alert alert-danger">
            username is required
        </mat-error>

        </mat-form-field>
        <mat-form-field class="example-full-width" hintLabel="Max 240 characters">
          <textarea matInput [(ngModel)]="tweetInput" placeholder="Enter your message" name="tweetInput" #message="ngModel" required maxlength="240" (keydown)="showRemainChar()"></textarea>
          <mat-hint align="end">{{remainingChar}}/240</mat-hint>
          <mat-error [hidden]="message.valid || message.pristine" class="alert alert-danger">
              message is required
          </mat-error>
        </mat-form-field>
        
    </mat-card-content>
    <mat-card-actions align="end">
        <button mat-button [disabled]="twitterForm.invalid" (click)="postNewMessage(twitterForm)" class="right">Post</button>
    </mat-card-actions>
  </form>
</mat-card>
