<mat-card class="example-card bottom-10">
  <mat-card-header>
    <mat-card-title>
      Messages
    </mat-card-title>
  </mat-card-header>
  <mat-card-content [style.overflow]="'auto'" [style.height.px]="'400'" #scrollMe [scrollTop]="scrollMe.scrollHeight">
        <mat-card *ngFor="let m of (messages | async)" class="wordwrap no-left-padding">
            <mat-card-header>
                <div mat-card-avatar style="min-height: 50px;
                background-color: #fa23ba;
                min-width: 50px;
                text-align: center;"><span class="sendernameinitial" title="{{ m.sender }}">{{ m.sender | slice:0:1}}</span></div>
                <mat-card-title><span class="messageText">{{ m.text }}</span></mat-card-title>
                <mat-card-subtitle>{{m.dateSent | date:"long"}}</mat-card-subtitle>
              </mat-card-header>
        </mat-card>
  </mat-card-content>
</mat-card>
<mat-card class="example-card bottom-10" [style.display]="loggedIn() ? 'block' : 'none'">
  <form class="example-form" #twitterForm="ngForm">
    <mat-card-header>
        <mat-card-title>
          Post
          <br/>
          <mat-hint>Logged in as {{ username }}</mat-hint>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-form-field class="example-full-width" hintLabel="Max 240 characters">
          <textarea matInput [(ngModel)]="tweetInput" placeholder="Enter your message" name="tweetInput" #message="ngModel" required maxlength="240" (keydown)="showRemainChar()"></textarea>
          <mat-hint align="end">{{remainingChar}}/240</mat-hint>
          <mat-error [hidden]="message.valid || message.pristine" class="alert alert-danger">
              message is required
          </mat-error>
        </mat-form-field>

    </mat-card-content>
    <mat-card-actions align="end">
        <button mat-button [disabled]="twitterForm.invalid" (click)="postNewMessage(twitterForm)" class="right">Post</button>
    </mat-card-actions>
  </form>
</mat-card>
