/* You can add global styles to this file, and also import other style files */
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.example-card {
  max-width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin:auto;
}

.bottom-10 {
  margin-bottom: 10px;
}

.scrollable {
  overflow: auto;
}

.wordwrap{
  word-wrap: break-word;
}

.mat-card-header-text
{
  width: 80%;
}

.sendernameinitial{
  font-size: 2em;
position: relative;
top: 8px;
font-weight: 300;
font-family: 'Helvetica Neue', Arial;
text-transform: uppercase;
}

.messageText{
  font-weight: 300;
  font-size: 1.8em;
}

.no-left-padding{
  padding-left: 0px!important;
}
