/* You can add global styles to this file, and also import other style files */
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.example-card {
  max-width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin:auto;
}

.bottom-10 {
  margin-bottom: 10px;
}

.scrollable {
  overflow: auto;
}

.wordwrap{
  word-wrap: break-word;
}
