
  <mat-card class="example-card bottom-10">
    <form [formGroup]="signUpForm" #form="ngForm" class="example-form">
      <mat-card-header>
          <mat-card-title>
            Sign Up
          </mat-card-title>
      </mat-card-header>
      <mat-card-content>
          <mat-form-field class="example-full-width">
              <input matInput id="name"
                placeholder="Enter your name"
                formControlName="name">
              <div *ngIf="name.invalid && (name.dirty || name.touched)"
                class="alert alert-danger">

                <mat-error *ngIf="name.errors.required">
                  Name is required.
                </mat-error>

                <mat-error *ngIf="name.errors.minlength">
                  Name must be at least 4 characters long.
                </mat-error>

                <mat-error *ngIf="name.errors.exists">
                    Username already exists.
                </mat-error>

              </div>
              <mat-label>Name</mat-label>
          </mat-form-field>
          <mat-form-field class="example-full-width">
              <input matInput id="email"
                placeholder="Enter your email"
                formControlName="email">
              <div *ngIf="email.invalid && (email.dirty || email.touched)"
                class="alert alert-danger">

                <mat-error *ngIf="email.errors.required">
                  Email is required.
                </mat-error>

                <mat-error *ngIf="email.errors.email">
                  This is not a valid email address.
                </mat-error>

              </div>
              <mat-label>Email</mat-label>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input matInput id="color"
              formControlName="color"
              class="jscolor"
              (change)="updateColor($event)">
            <div *ngIf="color.invalid && (color.dirty || color.touched)"
              class="alert alert-danger">

              <mat-error *ngIf="color.errors.required">
                Color is required.
              </mat-error>

              <mat-error *ngIf="color.errors.minlength">
                Color must be at least 7 characters long.
              </mat-error>

            </div>
            <mat-label>Color</mat-label>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions align="end">
          <button mat-button [disabled]="signUpForm.invalid" class="right" (click)="submit()">Submit</button>
      </mat-card-actions>
    </form>
  </mat-card>
